body {
    background-color: #4a154b;
}
h1 {
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    color: white;
    display: block;
}
#user-interaction-area {
    height: 300px;
    width:80%;
    background-color: #4a154b;
    display: inline-flex;
    margin-left: 10%;
}
#address_message{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    height:auto;
    width: 67%;
    margin: 10px;
    padding: 20px;
    display: flex;
    background-color: #fff;
    border-radius: 2px;
}
#address_input{
    font-size: 18;
    height:25px;
    width:100%;
    background-color: antiquewhite;
}
#message_content{
    font-size: 18;
    height:175px;
    width:100%;
    background-color: antiquewhite;
}
#calendar{
    height:auto;
    width: 33%;
    margin: 10px;
    background-color: #fff;
    display:inline-flex;
    justify-content:center;
    border-radius: 2px;
}
#calendar_placeholder{
    height:250px;
    width: 300px;
    margin-top: 15px;
    background-color: white;
}
#submit_button{
    display: block;
    width: 40%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    flex-grow: 8;
    background-color: #fff;
    color: #611f69;
    fill: #611f69;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 2px;
}

h2{
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    color: white
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    height: 10px;
}
tr:nth-child(even) {
    background-color: #e8b845;
}
tr:nth-child(odd) {
    background-color: #00CD6C;
}
.date {
    width: 100px;
}
.message_head {
    width: 200px;
}
#logo {
    flex-wrap: wrap;
}